*{
	padding: 0;
	margin: 0;
}
button {
    /* width: 200px; */
    /* height: 50px; */
    /* background-color: red; */
    /* border-radius: 10px; */
    border: none;
    outline: none;
    -webkit-appearance: none;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}
i {
	font-style: normal;
}
.fl {
	float: left;
}
.fr {
	float:right;
}
body {
	background-color: #F6F6F6;
}
.bt {
	border-bottom: 1px solid #F2F2F2;
}
.mui-bar .mui-btn-link {
	color:#1B1B1B;
}
.mui-bar {
	/* position:static; */
	/*background-color: #fff;*/
	background:#fff url('../images/logo.png') no-repeat center center;

}
.mui-btn-danger.mui-active:enabled, .mui-btn-danger:enabled:active, .mui-btn-negative.mui-active:enabled, .mui-btn-negative:enabled:active, .mui-btn-red.mui-active:enabled, .mui-btn-red:enabled:active{
	background-color: #FF793E;
	border:1px solid #FF793E;
}
.mui-bar .mui-btn-link {
	color:#6F6F6F;
	font-size: 0.9rem;
}