* {
    padding: 0;
    margin: 0;
}

button {
    /* width: 200px; */
    /* height: 50px; */
    /* background-color: red; */
    /* border-radius: 10px; */
    border: none;
    outline: none;
    -webkit-appearance: none;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

i {
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    background-color: #FAFAFA;
}

.bt {
    border-bottom: 1px solid #F2F2F2;
}

.mui-bar .mui-btn-link {
    color: #1B1B1B;
}

.mui-bar {
    /* position:static; */
    /*background-color: #fff;*/
    background: #fff url('../images/logo@2x.png') no-repeat center center;
    background-size:  100px 40px;
    height: 42px;

}

.mui-btn-danger.mui-active:enabled,
.mui-btn-danger:enabled:active,
.mui-btn-negative.mui-active:enabled,
.mui-btn-negative:enabled:active,
.mui-btn-red.mui-active:enabled,
.mui-btn-red:enabled:active {
    background-color: #FF793E;
    /* border: 1px solid #FF793E; */
    border: 0;
}

.mui-bar .mui-btn-link {
    color: #6F6F6F;
    font-size: 0.9rem;
}

.oh {
    overflow: hidden;
}

.mui-popup-button.mui-popup-button-bold {
    font-size: 15px;
    color: #FF793E;
}

a:active {
    color: #000;
}

a {
    color: #000;
    font-size: 15px;
}

.back {
    color: #969696;
}

.mui-icon-back:before,
.mui-icon-left-nav:before {
    color: #969696;
    font-size: 20px;
}

.mui-bar-nav.mui-bar .mui-icon {
    margin-right: -17px;
    margin-left: -14px;
    margin-top: 0px;
}

input::-webkit-input-placeholder {
    color: #CCCCCC;
    font-size: 15px;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #CCCCCC;
    font-size: 15px;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #CCCCCC;
    font-size: 15px;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #CCCCCC;
    font-size: 15px;
}
.mui-input-group .mui-input-row {
	height: 50px;
    margin-left: 15px;
}
.mui-bar-nav {
	box-shadow: none;
}
.mui-input-group:before {
	height: 0;
}
.mui-table-view:before {
	height: 0;
}
.mui-table-view-cell {
	height: 50px;
}
.mui-table-view:after {
	height: 0;
}
.mui-table-view-cell {
	font-size: 15px;
}
.mui-table-view-cell {
	padding: 13px 15px;
}
.iconfont {
	font-size: 14px;
}
.mui-content {
    background-color: #FAFAFA;
}
.mui-input-group:after {
    height: 0;
}
.mui-input-group .mui-input-row:after {
    height: 0;
}
.mui-table-view-cell:after {
    height: 0;
}
.mui-content.logout {
    background-color: #fff;
}
.qudao img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.mui-card-footer, .mui-card-header.lianxi{
    padding: 18px 50px;
    /* color: #78AEFE; */
}
a.lianxi {
    color: #78AEFE;
}
/* .mui-btn-block {
    width: 250px;
    height: 44px;
} */
.mui-popup-inner:after {
    height: 0;
}
.mui-popup-button:first-child:last-child {
    /* border-radius: 0 0 6px 6px; */
}
/* .mui-popup-inner {
    border-radius: 6px 6px 0 0;
} */
#agree {
    box-shadow: 0px -11px 0px rgba(255, 255, 255, 0.5);
}
.mui-popup {
    top: 240px;
}
.mui-popup.xieyi {
    top: 50%;
}
.fanhhui img{
    width: 20px;
    height: 20px;
}
.tb {
    border-top: 1px solid #F2F2F2;
}
.mui-btn-danger, .mui-btn-negative, .mui-btn-red {
    border: 0;
}
.szcg {
    width: 100px;
    font-size: 17px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%)
}
.again {
    font-size: 15px;
}
.mui-btn-block {
    font-size: 15px;
}
.mui-popup-inner {
    background: rgba(255,255,255,1);
}
.mui-popup-button {
    background: rgba(255,255,255,1);
}
.mui-popup-title {
    font-size: 15px;
}
.mui-popup-button {
    font-size: 15px;
}
.mui-bar .mui-segmented-control {
    top: -1px;
}
.mui-bar {
    padding-left: 0;
    padding-right: 0;
}