body{
	font-size: 15px;
	color:#666666;
}

.mui-bar-nav~.mui-content{
	padding-top: 52px;
}
.mui-bar .mui-btn-link {
	color:#1B1B1B;
}
.mui-bar {
	background-color: #fff;
}
.mui-btn-block {
	padding:10px 0;
}
.mui-btn-danger, .mui-btn-negative, .mui-btn-red {
	background-color: #FF793E;
}
.mui-content-padded {
	margin-top:2.5rem;
}
.mui-input-row label {
	padding:18px 0px 11px 13px;
}
.psd {
	padding: 0;
}
input, select, textarea{
	font-size: 15px;
}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea {
	padding-left: 8px;
	padding-top: 20px;
}