.box {
	display : flex;
	justify-content: space-between;
	padding: 0.5rem;
}
#header {
	position: fixed;
}
.box p {
	padding-right: 2rem;
}
.mui-bar-nav~.mui-content {
	position: relative;
	padding-left: 46px;
	color: #fff;
	padding-top: 0px;
	background-color: #FF8A2D;
	height: 60px;
	line-height: 60px;
	margin-top: 42px;
}
.item {
	position: relative;
	padding: 0.8rem;
}
.tupian {
	width: 6rem;
}
.chanpin {
	width: 60%;
	position: absolute;
	top: 1rem;
	left: 8rem;
}
.sl {
	position: absolute;
	top: 4rem;
}
.sr {
	position: absolute;
	top: 4rem;
	left: 12rem;
}
.state {
	position: absolute;
	top: 20px;
	left: 20px;
}
.solid {
	width: 1px;
	height: 20px;
	background-color: #EEEEEE;
}
.bianhao {
	padding: 15px 0 20px 15px;
	margin-bottom: 20px;
}
.gray {
	color: #999999
}
.zhongjia {
	position: relative;
}
.lfbox {
	position: absolute;
	left: 20px;
}
.rtbox {
	position: absolute;
	right: 25px;
	color: #FF793E;
}
span.num {
	font-size: 18px
}