body {
  background-color: #F6F6F6;
  height: 100%;
}
.mui-card-footer, .mui-card-header {
  padding:0 16px;
  background: url('../images/logo@2x.png') no-repeat center center;
  background-size: 100px 40px;
}
.mui-card {
  margin: 0px;
}
.mui-card-content-inner {
  padding: 21px 15px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.mt {
  margin-top: 0.6rem;
}
.order {
  display: flex;
  justify-content: center;
}
.order div {
  padding: 6px 12px;
}
.order p {
  text-align: center;
}
.order .ico {
  font-size: 2rem;
  color: #FF7D45;
}

.yhk .ico {
  vertical-align: top;
  font-size: 1.4rem;
  color: #E50012;
}
.logout {
  width: 60px;
  font-size: 15px;
  color:#999999;
}
.tx {
  margin-top: 19px;
  margin-right: 10px;
  text-align: center;
  font-size: 15px;
  color:#FF793E;
  width: 54px;
  height: 31px;
  line-height: 31px;
  border:1px solid #FF793E;
  border-radius: 0.2rem;
}
.bb {
  border-bottom: 1px solid #F4F4F4;
}
.br {
  border-right :1px solid #F4F4F4;
}
.num  {
    width: 180px;
    height: 4rem;
    padding: 10px 0 0 28px;
}

.mui-card{
  box-shadow: none;
}
.bank {
  width: 330px;
  margin: 0 auto;
}
.bank p {
  margin: 0;
  padding: 0;
}
.yhk {
  width: 330px;
  margin: 0 auto;
  height: 5rem;
  background-color: #F3E2B4;
  border-radius: 5px 5px 0 0;
}
.cardnum {
  text-align: center;
}
.server p {
  margin: 0;
  padding: 5px;
}
.server {
  background-color: #FAFAFA;
  /* border-top: 1px solid #ccc; */
  padding: 29px 0 26px;
}
.txtcenter {
  text-align: center;
}
.contack {
  margin: 0 auto;
  color:#FF9464;
  width: 90px;
  height: 30px;
  line-height: 30px;
  border:1px solid #FF9464;
  border-radius: 1.2rem;
}
.mui-content{
  background-color: #fff;
}
.mui-btn-blue, .mui-btn-primary, input[type=submit] {
  border:0px;
}
.mui-btn-outlined.mui-btn-blue, .mui-btn-outlined.mui-btn-primary {
  color:#808992;
}
.mui-popup-title {
  font-size: 1rem;
}
.mui-popup-button{
  color: #AFAFAF;
  font-size: 1rem;
}
.mui-popup-title {
  color:#727272;
}
.mui-popup-button.mui-popup-button-bold{
  font-weight: 400;
  color:#FF7C42;
}
.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mui-popup {
  text-align: left;
}
.mui-popup-text {
  overflow: hidden;
}
.mui-popup-inner {
  /* height: 16rem; */
  overflow-y: auto;
}
#xieyi {
  height: 16rem;
}
.gray {
  color: #666666;
}
.yhk {
  position: absolute;
  bottom: -120px;
  height: 90px;
  padding: 0.8rem 0 0 1rem;
}
.yhk i img{
  position: absolute;
  top: 9px;
  left: 10px;
  vertical-align: middle;
}
.mui-popup.mui-popup-in.xieyi {
  width: 280px;
  height: 350px;
}
.mui-popup-title.xieyi{
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #666666;
}
.mui-popup-inner.xieyi {
  padding: 0;
}
.mui-popup-title+.mui-popup-text.xieyi {
  padding: 0 14px;
}
.mui-popup-button.mui-popup-button-bold.xieyi{
  color: #333333;
}
.mui-popup-inner:after {
  height: 1px;
}
.qudao {
  font-size: 15px;
  color: #000;
}
.qudao img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.mui-card.title {
  height: 170px;
}
.yue {
  margin-top: 10px;
}
p {
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}
.number {
  font-size: 18px;
  color: #FF793E;
}
.mui-card.nums {
  padding: 18px;
  height: 162px;
}
.mui-card.order{
  height: 100px;
}
p.color {
  color: #333;
}
.mui-card.jsk{
  position: relative;
  height: 140px;
}
p.banks {
  color: #825921;
  padding-left: 27px;
}
p.cardnum {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  color: #825921;
  padding-top: 20px;
}
p.mycard {
  color: #333333;
  position: absolute;
  font-weight: 700;
  letter-spacing: 2px;
  top: 18px;
  left: 6px;
}
.yhk {
  position: absolute;
  bottom: -140px;
}
p.txtcenter {
  color: #999999;
}
.numbox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  width: 360px;
}
.qudao {
  padding-left: 28px;
}
.qudao i {
  position: absolute;
  top: 20px;
  left: 18px;
}
.mui-card-footer:before, .mui-card-header:after {
  background-color: #eee;
}