.bank span {
    display: block;
}

#getmoneys {
    /* padding-left: 2rem; */
    width: 75%;
    height: 50px;
    line-height: 24px;
    font-size: 46px;
    color: #000000;
    /* padding: 5px 8px; */
    border: 0px;
}

.mui-content {
    /* display: inline-block; */
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.jine {
    font-size: 36px;
    padding-top: 12px;
}

/* 密码输入框样式 */
.pwd-box {
    width: 240px;
    height: 40px;
    padding-left: 1px;
    position: relative;
    top: 25px;
    border: 1px solid #9f9fa0;
    overflow: hidden
}

.pwd-box input[type="tel"] {
    width: 99%;
    height: 45px;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    font-size: 18px;
    opacity: 0;
    z-index: 1;
    letter-spacing: 35px;
}
.fake-box {
	display: flex;
	justify-content: center;
}
.fake-box input {
	padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
}

.fake-box input:nth-last-child(1) {
    border: none;
}
.guanbi img {
    position: absolute;
    left: 20px;
    top: 15px;
}
.tixianbox {
    padding: 10px 10px;
    position: relative;
    width: 330px;
    height: 100px;
}
#getmoneys {
    position: absolute;
    top: 40px;
    left: 57px;
    z-index: 999;
    font-weight: 700;
}

.mui-popup-inner.tixian {
    width: 270px;
    height: 207px;
}
.mui-popup-title.tixian {
    font-size: 17px;
    height: 37px;
}
.mui-popup-title+.mui-popup-text.tixian {
    margin: 10px 0 0 ;
}
.all{
    color: #7FB3FD;
}
#getall {
    position: absolute;
    font-size: 13px;
    top: 190px;
    left: 200px;
    color: #7FB3FD;
}
.mui-popup-title {
    color: #727272;
}
.mui-popup-button {
    color: #333333;
    font-size: 15px;
}
.mui-popup-button.mui-popup-button-bold {
    font-weight: 400;
}
.mui-bar-nav~.mui-content.tixian {
    padding-top: 0;
}
.line {
    width: 85%;
    height: 1px;
    background-color: #EBEBEA;
    margin: 0 auto;
}