.hqyzm{
        position: absolute;
        right: 10px;
        top: 4px;
        font-size: 14px;
        line-height:30px;
        color: #fb4746;
	}

.icon-warn {
	color:#FF2E2E;
}
.message {
	height: 0.2rem;
}
p {
	font-size: 12px;
	margin-top: 10px;
	padding-left: 10px;
}
#btn {
	color: #FF793E;
	margin-top: 4px;
}
